.App {
  width: 90%;
  margin: auto;
}
@media screen and (min-width: 768px) {
  .App {
    width: 75% !important;
    display: flex;
    gap: 20px;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 20px;
  padding-top: 0px;
  padding-bottom: 0;
  color: var(--white);
}

.attribution a {
  color: var(--social);
}
